/****  GENERAL ****/

html, body {
    margin: 0;
    padding: 0;
}

div, a, header, footer, nav, article, section, main{
    display: flex;
    flex: 1;
}

img, video {
    width: 100%;
}

.colonne {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}
.bleu{
    background-color: blue;
    padding: 1em;
}
.rouge{
    background-color: red;
    height: 15vh;
}
.grisjaune{
    height: 50vh;
    margin-top: 1em;
}

.gris{
    background-color: grey;
    
}
.espace{
    flex:0.5;
}
.espacePetit{
    flex:0.1;
}

.jaune{
    background-color: yellow;
}

.vert{
    background-color: green;
    height: 15vh;
    margin-top: 1em;
}
.bleufonce{
    background-color: rgb(0, 0, 92);
    flex:2;
}
.bleuclaire{
    background-color: rgb(128, 128, 253);
}
.vertclair{
    background-color: rgb(0, 255, 0);
}
.espaceH{
    height: 1em;
}

.bot{
    margin-top: 1em;
    height: 10vh;
}